<!DOCTYPE html>
<html ng-app="app">

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script> -->
  <script src="script.js"></script>
</head>

<body ng-controller="ListadoSeguroController">
<base href="/">
  <table>
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Fecha nacimiento</th>
        <th>Posicion</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3">Empleados:</td>
        <td ng-bind="empleados.length"></td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="empleado in empleados" ng-style="{color:($odd?'red':'green')}">
      <!--   <td><a ng-href="./rest/employeeservices/getemployeedetail?employeeId={{empleado.lastName}}">{{empleado.lastName}}</a></td> -->
      <td><a ng-href="./CxfRestService/detalle.html?employeeId={{empleado.lastName}}" target= _self >{{empleado.lastName}}</a></td> 
        <td>{{empleado.firstName}}</td>
        <td>{{empleado.dateBirth}}</td>
        <td>{{empleado.position}}</td>       
      </tr>
    </tbody>
  </table>

</body>

</html>